<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Edit</title>
</head>
<body>
    <h1>수정</h1>
    <form action="/update/<%= users[0].name %>" method="post">
        name <input type="text" name="name" value="<%= users[0].name %>"> <br>
        title <input type="text" name="title" value="<%= users[0].title %>"> <br>
        content <input type="text" name="content" value="<%= users[0].content %>"> <br>
        <button type = "submit">수정하기</button>
    </form>
    <table>
        <% users.forEach(function (value) { %>
            <tr>
                <td>name : <%= value.name %></td>
                <td>title : <%= value.title %></td>
                <td>content : <%= value.content %></td>
            </tr>
        <% }); %>
    </table>
</body>