<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>BAEJUN's CRUD</title>
    </head>
    <body>
        <h1>
            BAEJUN's CRUD
        </h1>
        <form action="/" method="post">
            이름: <input type="text" class="form-control" name="name"><br>
            제목: <input type="text" class="form-control" name="title"><br>
            내용: <input type="text" class="form-control" name="content"><br>
            <button type="submit">작성</button>
        </form>
        <table border="1">
            <tr>
                <th>이름</th>
                <th>제목</th>
                <th>내용</th>
                <th>삭제</th>
                <th>수정</th>
               </tr>
            <% users.forEach(function (value) { %>
                <tr>
                    <td><%= value.name %></td>
                    <td><%= value.title %></td>
                    <td><%= value.content %></td>
                    <td><a href="/delete/<%= value.name %>">삭제</a></td>
                    <td><a href="/update/<%= value.name %>">수정</a></td>
                </tr>
            <% }); %>
        </table>
    </body>
</html>